<section class="fl-fix bg-white ov-h spa-locations-layout">
    <div class="small-wrapper">
        <div class="result-box  fl-fix">
            <div class="filtered-count pos-r type-2  fl-fix">
                <h5><strong>3 Results</strong> for your search</h5>
            </div>
            <div class="result-desc fl-fix">
                <ul>
                    <li class="result-item">
                        <div class="text-box clearfix">
                            <div class="address-box fl-fix">
                                <div class="address">
                                    <h5 class="h5 title">Silver Mirror</h5>
                                    <p>101 W 24th Street, #28D</p>
                                    <p>New York, NY 10011</p>
                                    <p>646-861-0089</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="result-item">
                        <div class="text-box clearfix">
                            <div class="address-box fl-fix">
                                <div class="address">
                                    <h5 class="h5 title">Silver Mirror</h5>
                                    <p>101 W 24th Street, #28D</p>
                                    <p>New York, NY 10011</p>
                                    <p>646-861-0089</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="result-item">
                        <div class="text-box clearfix">
                            <div class="address-box fl-fix">
                                <div class="address">
                                    <h5 class="h5 title">Silver Mirror</h5>
                                    <p>101 W 24th Street, #28D</p>
                                    <p>New York, NY 10011</p>
                                    <p>646-861-0089</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>