<section class="fl-fix pos-r spa-locations-nav">
    <div class="small-wrapper pos-r">
        <div class="fl-fix bg-white filter">
            <form action="#">
                <div class="zipcode filter-item fl-fix">
                    <label><h6>ZipCode</h6></label>
                    <input type="text" name="zipcode" class="filter-input" placeholder="Enter zipcode">
                </div>
                <div class="distance fl-fix filter-item">
                    <label><h6>Distance</h6></label>
                    <div class="select">
                        <select class="distance-grp">
                            <option chaecked="checked">5 miles</option>
                            <option>10 miles</option>
                            <option>15 miles</option>
                            <option>20 miles</option>
                            <option>25 miles</option>
                            <option>30 miles</option>
                            <option>35 miles</option>
                            <option>40 miles</option>
                        </select>
                    </div>
                </div>
                <div class="filter-btn fl-fix">
                    <button type="submit" class="submit btn" id="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</section>